@model Fiap.Exemplo02.Dominio.Models.Grupo
@{
    ViewBag.Title = "Editar";
}

<h2>Atualizar Grupo</h2>

@Helper.Message(TempData["msg"],"alert alert-success")

@using (Html.BeginForm())
{
    @Html.HiddenFor(g => g.Projeto.Id)
    @Html.HiddenFor(g => g.Id)
    

    <div class="form-group">
        @Html.LabelFor(g => g.Nome)
        @Html.TextBoxFor(g => g.Nome, new { @class = "form-control"})
    </div>


    <h3>Atualizar Projeto</h3>

    <div class="form-group">
        @Html.LabelFor(p => p.Projeto.Nome)
        @Html.TextBoxFor(p => p.Projeto.Nome, new { @class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(g => g.Projeto.Descricao)
        @Html.TextBoxFor(g => g.Projeto.Descricao, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(g => g.Projeto.DataInicio)
        @Html.TextBoxFor(g => g.Projeto.DataInicio, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(g => g.Projeto.DataTermino)
        @Html.TextBoxFor(g => g.Projeto.DataTermino, new { @class = "form-control" })
    </div>

    <div class="form-inline">
        @Html.LabelFor(g => g.Projeto.Entregue)
        @Html.CheckBoxFor(g => g.Projeto.Entregue, new { @class = "checkbox " })

    </div>

    <div class="form-group">
        @Helper.Submit("Atualizar", "btn btn-primary")
    </div>
}