@model  Fiap.Exemplo02.MVC.Banco.ViewModels.AlunoViewModel
@{
    ViewBag.Title = "Editar";
}

<h2>Atualizar Aluno</h2>
@Helper.Message(TempData["msg"], "alert alert-success")

@using (Html.BeginForm())
{   
    
    @Html.HiddenFor(a => a.Id)

    <div class="form-group">
        @Html.LabelFor(a => a.Nome)
        @Html.TextBoxFor(a => a.Nome, new { @class="form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.DataNascimento)
        @Html.TextBoxFor(a => a.DataNascimento, new {@class="form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Desconto)
        @Html.TextBoxFor(a => a.Desconto, new  {@class="form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Bolsa)
        @Html.CheckBoxFor(a => a.Bolsa, new { @class="checkbox"})

    </div>
       
    <div class="form-group">
        @Html.LabelFor(a => a.ListaGrupo)
        @Html.DropDownListFor(a => a.GrupoId, Model.ListaGrupo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Helper.Submit("Atualizar","btn btn-primary")

    </div>



}