@model Fiap.Exemplo02.MVC.Banco.ViewModels.AlunoViewModel
@{
    ViewBag.Title = "Listar";
}




<h2>Listar</h2>

@Helper.Message(Model.Mensagem, "alert alert-success")

@using (Ajax.BeginForm("Buscar",null,new AjaxOptions { HttpMethod = "get",UpdateTargetId ="tabela",
    InsertionMode = InsertionMode.Replace }, new {@class="form-inline", id="formBusca" }))
{
    <h4>Filtrar por</h4>
    <div class="row">
        
        <div class="col-md-3">
            @Html.Label("Nome")
            @Html.TextBoxFor(a => a.NomeBusca, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            @Html.Label("Grupo")
            @Html.DropDownListFor(a => a.IdGrupo, Model.ListaGrupo, "Selecione", new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            @Helper.Submit("Filtrar", "btn btn-primary")
        </div>
    </div>
}

<table class="table ">
    <thead>
        <tr>

            <th>Nome</th>
            <th>Bolsista</th>
            <th>Desconto</th>
            <th>Data de Nascimento</th>
            <th>Grupo</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tabela">

      @Html.Partial("_tabela",Model.Alunos)

    </tbody>

</table>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
            </div>
            <div class="modal-body">
                Deseja realmente apagar o Aluno?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Excluir", "Aluno"))
                {
                <input type="hidden" id="alunoId" name="alunoId"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                <button type="submit" class="btn btn-danger">Sim</button>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>

    function someBotao() {
        $("tr").hover(function () {
            $(this).find("button, a").css("visibility", "visible");
        }, function () {
            $(this).find("button, a").css("visibility", "hidden");
        });
    }

    $().ready(function () {
       // $("td > button, td > a").css("visibility", "hidden");

        someBotao();

        $("#IdGrupo").change(function () {
            $("#formBusca").submit();
        });

       

    });
</script>
    }